[submodule "themes/hugo-devresume-theme"]
	path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
[submodule "themes/themes/hugo-cite"]
	path = themes/themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
